body {
  font-family: "Helvetica Neue", sans-serif;
}

/** #DCE for v5.2.5, override position of live indicator back to right side of screen */
.liveIndicator {
	z-index: 100;
	position: absolute;
	right: 0px;
	top: 0px;
}